
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>esta es la primera pantalla</h1>

<section class="banner bgwhite p-t-40 p-b-40">
    <div class="container">
        <div class="row">


            <div class="item-slick2 p-l-10 p-r-10">
                <!-- Block3 -->
                <div class="block3">
                    <a href="blog-detail.html" class="block1-img dis-block hov-img-zoom">
                        <img src="~/imagenes/empresas/1af6d7ad-9320-4a12-b84b-ebfae6bb79ad.jpg" alt="IMG-BLOG">
                    </a>
                </div>
            </div>

            <div class="item-slick2 p-l-10 p-r-10">
                <!-- Block3 -->
                <div class="block1">
                    <a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
                        <img src="~/imagenes/empresas/8d7e48ba-c98b-4e79-a416-d9c2515fb9f7.jpg" alt="IMG-BLOG">
                    </a>

                </div>
            </div>

            <div class="item-slick2 p-l-10 p-r-10">
                <!-- Block3 -->
                <div class="block1">
                    <a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
                        <img src="~/imagenes/empresas/4974b454-5bb6-493d-ac4d-c0351efc7b78.png" alt="IMG-BLOG">
                    </a>

                </div>
            </div>

            <div class="item-slick2 p-l-15 p-r-15">
                <!-- Block3 -->
                <div class="block1">
                    <a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
                        <img src="~/imagenes/empresas/4e7790e9-e76a-462b-a342-7d471baf46cf.png" alt="IMG-BLOG">
                    </a>

                </div>
            </div>

            <div class="item-slick2 p-l-15 p-r-15">
                <!-- Block3 -->
                <div class="block1">
                    <a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
                        <img src="~/imagenes/empresas/6ad08463-5075-473e-8886-aa349c46738b.png" alt="IMG-BLOG">
                    </a>

                </div>
            </div>

        </div>
        </div>
    
</section>


    CIRCULAR

    A los Gerentes y representantes
    Presentes:

    Con fecha 18 de abril del presente, se realizará una junta de representantes de cada sucursal para resolver lo concerniente a las compras y activos relacionados con las ventas del mes de mayo.

    Esto por ser un mes de muchas ventas, esperando que contribuyan con sus registros de ventas, los cuales nos ayudarán a fijar los precios y descuentos durante las ventas de esta celebración.

    Es necesario que se acompañen de sus asesores y ayudantes de confianza con la finalidad de mejorar el servicio y las ganancias lo más eficientemente posible.

    Atentamente,

    Ing. Roberto Soto Garrido
    DIRECCIÓN GENERAL



    Fuente: https://www.ejemplode.com/53-conocimientos_basicos/3668-ejemplo_de_tipos_de_textos.html#ixzz6PaGFMT5w
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    El reflejo condicionado

    Autor: Javier Hernández Chávez

    Introducción

    El reflejo condicionado es un fenómeno psicológico de aprendizaje que fue descubierto por el científico Ruso Ivan Petrovich Pavlov, quien experimentó con perros el aprendizaje estimulado mediante el premio y castigo.

    Teoría

    El aprendizaje ha sido estudiado desde diversos puntos de vista, y se han percatado que el aprendizaje realizado mediante estímulos y a una edad muy temprana produce efectos a largo plazo.

    A este estudio se aunó una serie de observaciones que dieron evidencia de una respuesta ante estímulos externos, como lesiones infringidas y premios obtenidos.

    Esto hace que la mente se incline a hacer las actividades que estimulan la obtención de premios y rechace las que producen castigos.

    Experimentos

    Pavlov experimentó con perros a los que les intervenía quirúrgicamente y obtenía saliva, la cual utilizó como media para ver la excitación al recibir alimentos.

    Cuando les daba su alimento, les tocaba una campana que después de un tiempo asociaban a la obtención de alimento, posteriormente se retiró el alimento pero al sonar la campana el perro tenía la misma reacción que al obtener su alimento.

    Tras varias repeticiones del experimento se llegó a la denominación de reflejo condicionado, pues estimula externamente al perro a tener una reacción ante un estímulo externo, reflejo que a pequeñas edades se puede hacer casi permanente.

    Conclusiones

    Este fenómeno de reflejo condicionado se puede aplicar también a los hombres, como un método factible de aprendizaje siendo la edad temprana la mejor ocasión para enseñar conductas a largo alcance a los niños, lo que se convierte en una costumbre en ocasiones difícil de desarraigar, costumbres como preferencias, lectura, alimentos etc.



    Fuente: https://www.ejemplode.com/53-conocimientos_basicos/3668-ejemplo_de_tipos_de_textos.html#ixzz6PaGIT2uT
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    Escrito Judicial

    Juicio de divorcio encausado
    Expediente 256/85/2015
    Juan José Caballero Paniagua
    &
    Carla Angélica Robles Torres

    C Juez 9º de lo familiar
    Con residencia en Chicoloapan Edo Méx.

    25 de Abril del 2015

    Quien suscribe Carla Angélica Robles Torres autora de la demanda de divorcio al rubro marcada, por mi propio derecho y por medio del presente respetuosamente expongo:

    El pasado 10 de enero presenté mi demanda de divorcio de índole incausado ante contra Juan José Caballero Paniagua como lo marca la actual legislación, y acorde al hecho de que es posible la culminación del lazo conyugar unilateralmente, solicito me sea concedido de dicha manera.

    El objetivo es que transcurra lo más pronto posible el lapso legal para volver a contraer nupcias.

    Por lo anterior pido:

    Primero.- Tenerme presentada conforme lo establece mi derecho.

    Segundo.- Tener a bien conceder mi solicitud para acelerar la audiencia final y se dicte la resolución correspondiente.

    Protesto lo necesario
    Firma



    Fuente: https://www.ejemplode.com/53-conocimientos_basicos/3668-ejemplo_de_tipos_de_textos.html#ixzz6PaGVbFJQ


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    El transporte público

    Tras un largo viaje he visto cómo funciona el transporte, pues si bien tuve que hacer un trámite pequeño que es entregar un documento, tuve que cruzar la ciudad, y finalmente pude llegar.

    ¿Pero que tuve que hacer?

    Estuve viajando en el transporte público y para llegar  a mi destino tuve que tomar un autobús que me cobro casi 9 pesos, después tuve que esperar en otra estación a que llegara el que me dejaba jústo frente a la oficina.

    Pague nuevamente 9 pesos y llegue a la oficina, entré y cumpli mi cometido, pero el otro problema es el transporte, pues es brusco su paso en la ciudad, sus choferes no están bien preparados y la gente no tiene respeto ni modales.

    Dejar de contaminar con mi automóvil es bueno, pero pasar por ese caos me deja pensando qué es mejor.



    Fuente: https://www.ejemplode.com/53-conocimientos_basicos/3668-ejemplo_de_tipos_de_textos.html#ixzz6PaGZHbRX



    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    La amistad un paso en la vida

    Todos podemos caminar
    Pero no todos sabemos hacerlo solos
    Muchos nos pueden animar
    Pero otros solo reciben oídos sordos
    Hay el alma hay que animar
    Pues en para los que caminan solos
    Un amigo espera en algún lugar

    Victor C Figueroa



    Fuente: https://www.ejemplode.com/53-conocimientos_basicos/3668-ejemplo_de_tipos_de_textos.html#ixzz6PaGcLniz


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


